
h1 {
    color: #231320;
    border-bottom: 3px solid #231320;
    margin-bottom: 40px;
    margin-top: 5px;
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    font-optical-sizing: auto;
}

h3{
font-size: 3.5rem;
font-family: "Cormorant Infant", cursive;
font-optical-sizing: auto;
font-weight: 600;
font-style: italic;
margin-top: 90px;
margin-bottom: 30px;
text-decoration: 3px underline #231320;
text-underline-offset: 10px;
text-align: center;
}

#image{
    width: 300px;
    height: 300px;
    object-fit: contain;
    float: inline-start;
    object-position: top 30% right 10px;
    border-bottom-right-radius: 35%;
    border-bottom-left-radius: 27%;
    border-top-right-radius: 60%;
    shape-outside: margin-box;
}


body {
    font: 1.4em / 1.5 system-ui;
    width: 700px;
    margin: 0 auto;
    font-family: "Comorant", sans;
    font-weight: 200;
    font-optical-sizing: auto;
    background-color: #F9E6FF;
    position: relative;
    overflow: auto;
    text-align: justify; 
}

div.resume-intro{
    background-color: #E37C9B;
    border-radius: 7px;
    border: 5px solid #822870;
    padding: 8px 25px 25px;
    text-align: center;
}

div.contact-info{
background-color: #E37C9B;
border-radius: 7px;
padding: 10px 15px 15px;
margin-bottom: 10%;
text-align: center;
border: 5px solid #822870;
}

p#job-title{
    font-size: 2rem;
    font-family: "Cormorant Infant", cursive;
    font-style: italic;
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-align: justify;
}

p#sample-copy{
    text-align: center;
    font-size: 23px;
    font-weight: 550;
}

p#email{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

p#find-me{
    text-align: center;
    font-size: 22px
}

p.resume-copy{
    font-size: 22px;
    margin-top: 30px;
    text-align: center;
    font-weight: 600;
}

a {
    color: #47265d;

}

a:hover,
a:focus {
    color: #6A407D;
    text-decoration: none;
    border-radius: 7px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 3px solid #0d445f;
    border-radius: 7px;
    width: fit-content;
    background-color: #0C9FA5;
    display: block;

}
ul.work-samples {
    margin-left: 190px;
    margin-bottom: 50px;
}

ul.contact-info{
    margin-left: 273px;
    width: 120px;
}

li{
    border-bottom: 3px solid #0d445f;
}

li:last-child{
    border-bottom: none;
}

li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover{
    color: #231320;
    background-color: #80C7D1;
}

a.resume-btn{
        margin-left: 276px;
        padding: 10px 16px;
        border: 3px solid #0d445f;
        border-radius: 7px;
        width: fit-content;
        background-color: #0C9FA5;
        display: block;
        color: black;
        text-decoration: none;
}

 a#resume:hover{
        color: #231320;
        background-color: #80C7D1;
}
/* 
background options
#DCD6FF
#F9E6FF 
#F3F6EF
#F3F6EF
#F8ECDF
#E2B2B2
#FFFFFA

*/